html, body {
    height: 100%;
    overflow: hidden;
}

#videoBG {
    position: absolute;
    margin: auto 0px;
    max-width: 100%;
    min-height: 100%;
    z-index: -1
}

#videoFrame {
    position: relative;
}

.bg-nav {
    background: rgba(64,38,92);
    background: radial-gradient(circle, rgba(158,34,129,0.5) 0%, rgba(64,38,92,0.5) 100%);
}

.bg-card {
    background: rgba(64,38,92);
    background: radial-gradient(circle, rgba(158,34,129,0.5) 0%, rgba(64,38,92,0.5) 100%);
    max-width: 50vw
}