/* Couleurs
rgba(158,34,129) rouge
rgba(64,38,92) mauve
rgba(238,174,202) rose
rgba(148,187,233) bleu

*/

html, body {
    height: 100%;
    overflow: hidden;
}

.navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
  }

/* Texte */

.fontLogo {
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
}

h1, h2, h3, h4, h5, p, a, label {
    font-family: 'Titillium Web', sans-serif;
}

/* Background */

#videoBG {
    position: fixed;
    margin: auto 0px;
    z-index: -1
}

.bg-nav {
    background: rgba(64,38,92);
    background: radial-gradient(circle, rgba(158,34,129,0.5) 0%, rgba(64,38,92,0.5) 100%);
    border-top: solid rgba(158,34,129) 0.5px;
    border-bottom: solid rgba(158,34,129) 0.5px;
}

.bg-card {
    background: rgba(64,38,92);
    background: radial-gradient(circle, rgba(158,34,129,0.8) 0%, rgba(64,38,92,0.8) 100%);
    max-width: 50vw;

    border-style: solid;
    border-color: rgba(158,34,129);
}

.bg-btn {
    background: rgba(64,38,92);
    background: radial-gradient(circle, rgba(158,34,129,0.7) 0%,rgba(64,38,92,0.7) 100%);
    max-width: 50vw;

    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1.5rem;
    color: white;

    border-style: solid;
    border-color: rgba(158,34,129);
}

.bg-btn:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-color: black;

}

.bg-deco {
    background: none;
    border: none;
}

/* Display */

.d-col {
    flex-direction: column;
}

.d-front {
    position: fixed;
    z-index: 1;
}

.d-img-wrap {
    max-height: 200vh;
    min-width: 100%;
}

/* Frame */

#videoFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
}

#cardFrame {
    animation-name: open;
    animation-duration: .35s;
}

/* Animation */

    /* http://waitanimate.wstone.io/#!/ */
.shake {
    animation: shake-animation 2s infinite;
    transform-origin: 50% 50%;
  }

  @keyframes shake-animation {
     0% { transform:translate(0,0) }
    25% { transform:translate(5px,0) }
    50% { transform:translate(0,0) }
    75% { transform:translate(5px,0) }
    100% { transform:translate(0,0) }
  }

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgba(84, 97, 200, 0.8);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(84, 97, 200, 0.8);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* Media queries */

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (min-width: 1400px) { 
    .nav-item{
        font-size: 1.5em;
      }

    .material-icons { 
        font-size: 36px;
    }

    .fontLogo {
        font-size: 1.5em;
    }
 }